﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Translation assistant it's something new in your life. Using this app you can thinking about suiside...</p>
    <p class="lead">If you wonna kill app's developers, you can find some useful info below!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem</h2>
        <p>
            Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
            delenit augue duis dolore te feugait dersmasser nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat autem vel eum nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. Duis auteme vel eum iriure dolor in hendrerit autem vel eum in vulputate velit esse  molestie turios dolore
            consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dui
            dignissim autem vel qui blandit praesent. Velit esse molestie consequat, vel illum dolore dolor
            vulputate velit esse molestie consequat, vel illum molestie consequat, vel illum.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lorem</h2>
        <p>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
	delenit augue duis dolore te feugait dersmasser nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat autem vel eum nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. Duis auteme vel eum iriure dolor in hendrerit autem vel eum in vulputate velit esse  molestie turios dolore
	consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dui
	dignissim autem vel qui blandit praesent. Velit esse molestie consequat, vel illum dolore dolor
	vulputate velit esse molestie consequat, vel illum molestie consequat, vel illum.</p>
    </div>
    <div class="col-md-4">
        <h2>Lorem</h2>
        <p>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
	delenit augue duis dolore te feugait dersmasser nulla facilisi. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat autem vel eum nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent. Duis auteme vel eum iriure dolor in hendrerit autem vel eum in vulputate velit esse  molestie turios dolore
	consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dui
	dignissim autem vel qui blandit praesent. Velit esse molestie consequat, vel illum dolore dolor
	vulputate velit esse molestie consequat, vel illum molestie consequat, vel illum.</p>
    </div>
</div>