﻿@using GridMvc.Html

@model TranslationAssistant.Web.Core.Models.Projects.ProjectLineViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>

@Html.Grid(Model.Lines).Columns(columns =>
{
    columns.Add(l => l.Word)
        .Titled("Word");

    columns.Add(l => l.Description)
        .Titled("Word's description");
    
}).WithPaging(10)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
