﻿@using GridMvc.Html
@using TranslationAssistant.Web.Core.Models.Projects
@using TranslationAssistant.Web.Core.Models.Lines


@model ProjectLineViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProjectViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div> 
    </div>
}

@Html.Partial("_CreateLine", new LineViewModel{ ProjectId = Model.Id })


@Html.Grid(Model.Lines).Columns(columns =>
{
    columns.Add(l => l.Word)
        .Titled("Word");

    columns.Add(l => l.Description)
        .Titled("Word's description");

    columns.Add(l => l.Id)
        .Titled("")
        .SetWidth(150)
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(l =>
            @<b>
                @Html.ActionLink("Edit", "Edit", "Line", new { id = l.Id },
                     new { @class = " btn btn-warning" })

                @Html.ActionLink("Delete", "Delete", "Line" , new { id = l.Id },
                     new { @class = "btn btn-danger" })
            </b>);

}).WithPaging(5)


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/rollupper")
}
