﻿@model IEnumerable<TranslationAssistant.Web.Core.Models.Projects.ProjectViewModel>

@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Your Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(p => p.Title)
        .Titled("Title");

    columns.Add(p => p.CreateDate)
        .Titled("Create date");

    columns.Add(p => p.Id)
        .Titled("")
        .SetWidth(225)
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(p =>
            @<b>
                 @Html.ActionLink("Edit", "Edit", new {id = p.Id},
                     new {@class = " btn btn-default"})

                 @Html.ActionLink("Details", "Details", new {id = p.Id},
                     new {@class = " btn btn-default"})
    
                 @Html.ActionLink("Delete", "Delete", new {id = p.Id},
                     new {@class = "btn btn-danger"})
             </b>);
}).WithPaging(5)