﻿@model IEnumerable<TranslationAssistant.Web.Core.Models.Lines.LineViewModel>

@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>All our words</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(l => l.Word)
        .Titled("Word");

    columns.Add(l => l.Description)
        .Titled("Description");

    columns.Add(l => l.ProjectTitle)
        .Titled("Project name");

    columns.Add(l => l.Id)
        .Titled("")
        .SetWidth(200)
        .Sanitized(false)
        .Encoded(false)
        .RenderValueAs(l =>
            @<b>
                 @Html.ActionLink("Go to project", "Details", "Project", new {id = l.ProjectId},
                     new {@class = "btn btn-primary"})

                 @Html.ActionLink("Delete", "Delete", new {id = l.Id},
                     new {@class = "btn btn-danger"})
             </b>);
}).WithPaging(10)